<%= @taxpayer.first_name %>
<%= link_to 'New Real Property', new_taxpayer_real_property_path(@taxpayer) %>
<% @taxpayer.real_properties.each do |real_property| %>
  <%= link_to real_property.description, real_property %>
<% end %>
<p>Transferred Real Properties</p>

<p>Received Real Properties</p>
<% @taxpayer.received_transferred_real_properties.each do |transfer| %>
  <%#= link_to transfer.old_real_property_description, transfer.real_property %>
<% end %>


<%= link_to 'New Consolidation', new_taxpayer_consolidated_real_property_path(@taxpayer) %>
